*,
*::before,
*::after {
    box-sizing: inline-block;
}

body {
    background-color: #fff0ed;
}

.main {
    background-color: #F7F7F7;
}

h1,
h2 {
    font-size: 60px;
    font-weight: lighter;
    font-weight: 300;
    font-family: 'Open Sans';
    margin: 0;
}

h2 {
    display: inline-block;
    vertical-align: left;
    width: 50px;
    height: 50px;
    margin-top: 15px;
}

h3 {
    font-size: 33px;
    font-weight: lighter;
    font-weight: 300;
    font-family: 'Open Sans';
}

ul {
    font-size: 21px;
    font-weight: normal;
    font-weight: 400;
    list-style-type: none;
    top: 0;
    width: 50%;
    position: sticky;
    display: inline-block;
    margin-left: 100px;
}

li {
    display: inline-block;
    padding: 8px;
}

p {
    font-size: 18px;
    font-weight: normal;
    font-weight: 400;
}

nav {
    background-color: #fff0ed;
}

.logo {
    display: inline-block;
    vertical-align: left;
    width: 50px;
    height: 50px;
    margin-top: 15px;
}

a {
    text-decoration: none;
}

.main-hero {
    background-color: #fff0ed;
}

.main-text-button {
    float: left;
}

.hero-image {
    float: right;
    margin-right: 30%;
}

.our-products {
    margin-top: 550px;
    margin-left: 100px;
    width: 1000px;
    text-align: center;
    display: block;
}

.main-heading {
    margin-top: 100px;
    margin-left: 75px;
}

.main-p {
    margin-left: 75px;
}

.main-shop-now {
    margin-left: 75px;
    background-color: #5BACC3;
    color: white;
    width: 180px;
    height: 50px;
    border: none;
}

.section-1 {
    margin-top: 50px;
}

footer {
    background-color: #fff0ed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 3%;
    position: relative;
}

.address {
    margin-right: 50px;
}

.hours {
    margin-right: 50px;
}

.social {}

.p1 {
    margin: 0;
    font-family: 'open sans';
}

.p2 {
    margin: 0;
    font-family: 'open sans';
}

.p3 {
    margin: 0;
    font-family: 'open sans';
}

.p4 {
    margin: 0;
    font-family: 'open sans';
}

.pBanner {
    text-align: center;
    max-width: 90%;
    padding: 20px;
    margin: 20px;
    margin-right: 0;
    background-color: black;
    color: white;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 45px;
}

.product-card1 {
    box-shadow: 0 5px 9px 1px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(0, 0, 0, 0.25);
    display: inline-block;
    width: 200px;
    height: 400px;
    border-radius: 5px;
    padding: 1rem;
    margin: 10rem;
    text-align: center;
    vertical-align: middle;
}

.product-card2 {
    box-shadow: 0 5px 9px 1px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(0, 0, 0, 0.25);
    display: inline-block;
    width: 200px;
    height: 400px;
    border-radius: 5px;
    padding: 1rem;
    margin: 10rem;
    text-align: center;
    vertical-align: middle;
}

.product-card3 {
    box-shadow: 0 5px 9px 1px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(0, 0, 0, 0.25);
    display: inline-block;
    width: 200px;
    height: 400px;
    border-radius: 5px;
    padding: 1rem;
    margin: 10rem;
    text-align: center;
    vertical-align: middle;
}

.view-all-button {
    margin-left: 40%;
    margin-bottom: 50px;
    background-color: #5BACC3;
    color: white;
    width: 180px;
    height: 50px;
    border: none;
}